# ignore the logs folder
# logs/

# ignore the .log files
*.log

# ignore the .pyc files
*.pyc

# ignore the .py.log files
*.py.log

# ignore ALL the __pycache__ folders in any subdirectory
**/__pycache__/